
/* Definir una variable CSS */
:root {
  --azul:rgb(49, 54, 116);
  --naranja:rgb(232, 118, 31);
  --cremita:rgb(243, 242, 225);
  --orange:rgb(240, 225, 200);
  --blanco:#ffff    
}
/* Estilos generales */
body {
  font-family: 'Open sans' , Helvetica , Georgia;  
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;    
  background-color:var(--cremita);

}

.Conteinercolumn {
  display: flex;
  width: 100%; /* Ajusta el ancho de la página */
  background-color:var(--cremita); /* Cremita */  
  font-family: 'Open sans' , Helvetica , Georgia;
}

.column {
  flex: 1;
  padding-right: 20px;       
}

.left-column {
  text-align: center;
  margin: 0;
}

.right-column {
  text-align: justify;    
}

.Conteinercolumn img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  margin-top: 5px;       
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;        
}

.container img{
  max-width: 1200px;   
}

header {
  background-color: rgba(49, 54, 116); /* Azul */
  color: var(--naranja);      
  z-index: 1000; /* Se Puede ajustar este valor según sea necesario */           
}

/*---Inicio Menu Escritorio-----*/
nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  position: fixed;
  z-index: 1000; /* Puedes ajustar este valor según sea necesario */
  border-bottom: solid var(--orange);
  background-color: rgba(49, 54, 116, 0.5); /* Azul */
  left:1%;
  right: 1%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;  /* alinea los elementos del menú en la misma línea */
}

nav ul li {  
  white-space: nowrap;  /* Evita el salto de línea en el texto */    
}

.nav-list {
  list-style: none;
  display: flex;  
}

.nav-list li {
 margin-right: 20px;
}

.nav-list a {
  color: var(--orange);
  font-family: 'Roboto','Open sans' , Helvetica , Georgia;
  text-decoration: none;
}

.logo img {
  max-width: 26%;
  max-height:26%;
  margin-left: 30px;
  margin-top: 8px;
  padding: 3px;    
}
/*---Fin Menu Escritorio-----*/

.hero {
  position: relative;
  background: url('Imagenes/InicioWeb.jpg') center/cover no-repeat; 
  height: 400px; /* Ajusta la altura según tus necesidades */    
  text-align: center;
  overflow: hidden;   
}

.hero img {
  width: auto;
  height:auto;
  object-fit:cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  display: block;
}

.hero .container {
  position: absolute;
  right: 54%;
  top: 40%;
  background-color: rgba(49, 54, 116, 0.5); /* Azul con 50% de opacidad */
  height: 200px;
  transition: background-color 0.5s ease;
}

.hero h1 {
  font-size: 4.5em; /* Tamaño del título */
  margin-top: 5px; /* Espacio superior del título */
  margin-bottom: 5px; /* Espacio inferior del título */
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;
  color: var(--orange);
}

.hero p {
  font-size: 1.5em; /* Tamaño del párrafo */
  max-width: 600px; /* Ancho máximo del párrafo */
  margin: 0 auto; /* Centrar el párrafo */
  font-family:'Open sans' , Helvetica , Georgia;    
  color: var(--cremita);
}

.Pie{
  background-color:var(--azul);
  height: 50px;
  color: var(--orange);    
}

.Pie p{
  margin-top: 0;
  padding: 16px;
}

button {
  padding: 12px 20px;  
  cursor: pointer;    
  border-right: 4mm ridge rgba(232, 118, 31, 1);
  background-color: transparent;
  color:var(--azul); /* Color de texto para botones no seleccionados */
  font-weight:bolder;
  border-top: none;
  border-left: none;
  border-bottom: none;  
}

button.seleccionado {
  background-color: var(--azul);  /* Puedes personalizar el color de fondo */
  color: var(--orange);  /* Puedes personalizar el color del texto */
}

#areaTexto{
  margin-top: 20px;
  padding: 20px;    
  font-family: 'Open sans' , Helvetica , Georgia;
  color: var(--azul);
}

#btnSuscribete{
  margin-bottom: 15px;
  margin-left: 15%;
}

.containerInferior{
  background-color: var(--cremita);
}

.desktop-image {
  display: block;
}

.mobile-image {
  display: none;
}

.subtitulos{
  color: var(--azul);
  font-size: 30px;
  margin-top:20%;
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;   
}

.otrosSubtitulos{
  padding-top: 3%;    
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
  color: var(--azul);
  font-size: 30px;    
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;   
}

#pOSubT{
  margin-top: 5px;
  margin-left: 8%;
  font-family: 'Open sans' , Helvetica , Georgia;
  color: var(--azul);
}

/*---Popup----*/
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  
}

#popup-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.popup-overlay {
  position: relative;
  text-align: center; /* Centra el contenido */  
}

#popup-content img {
  max-width: 100%;
  border-radius: 20px;
}

.popup-overlay a, .popup-overlay button {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.popup-overlay button {
  margin-left: 10px; /* Agrega espacio entre el enlace y el botón */
}
/*----Fin Popup----*/

/* Estilos responsivos */
@media (max-width: 768px) {
 
  /*---Menú Movil---*/
  .nav-list {
    position: absolute;
    top: 92px;
    left: 0;
    flex-direction: column;
    background-color: var(--azul);
    width: 100%;
    height:100vh;
    text-align: end;      
    transform: translateX(-105%);
    transition: 0.8s ease all; /* Agrega una transición para suavizar la transformación */
  }

  .menu-toggle {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
    margin: 15px; 
  }

  .menu-toggle span {
    display: block;
    height: 4px;
    width: 30px;
    background-color: var(--cremita);
    margin-bottom: 5px;
    border-radius: 2px;  
    transform-origin: 5px 0px;
    transition: all 0.3s linear; /* Agrega una transición para suavizar la transformación */
  }

  .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2){
    display: none;
  }

  .close span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .open{ transform: translateX(0) !important;}

  .logo img{
    margin-left: 0;
    margin-right: 60%;
  }
  /*---Fin Menú Movil---*/

  .hero .container{
    /*top:30%;*/
    height: 250px;
    right: 0%;
  }

  .hero h1{
    font-size: 35px;
  }

  .hero p{
    font-size: 15px;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    margin-left: 15%;
    max-width: 450px;
  }

  .Conteinercolumn {
    display:inline;
    width: 100%; /* Ajusta el ancho de la página */
    background-color:var(--cremita); /* Cremita */  
    font-family: 'Open sans' , Helvetica , Georgia;
  }


  .subtitulos{
    color: var(--azul);
    font-size: 20px;
    margin-top:10%;
    font-family:'Roboto', sans-serif , Helvetica , Georgia;
    font-weight:bold;   
  }

  .otrosSubtitulos{
    padding-top: 3%;    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0%;
    color: var(--azul);
    font-size: 20px;    
    font-family:'Roboto', sans-serif , Helvetica , Georgia;
    font-weight:bold;   
  }

  .Pie{
    background-color:var(--azul);
    height: auto;
    color: var(--orange); 
  }

  .Pie p{
    font-size: 10px;
  }

  .popup-overlay a, .popup-overlay button {
    display: inline-flex;
    margin-top: 15px;
    text-decoration: none;
    color: #007BFF;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    margin-left: 1.3rem;
  }

  #popup-content img {
    max-width: 80%;
    border-radius: 20px;    
  }

  #popup-content {
    position: relative;    
    transform: translate(-50%, -50%);    
  }
}

@media (orientation: landscape) {
  .nav-list {    
    top: 137px;
  }
}