
/* Definir una variable CSS */
:root {
  --azul:rgb(49, 54, 116);
  --naranja:rgb(232, 118, 31);
  --cremita:rgb(243, 242, 225);
  --orange:rgb(240, 225, 200);
  --blanco:#ffff    
}
/* Estilos generales */
body {
  font-family: 'Open sans' , Helvetica , Georgia;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;    
  background-color:var(--cremita);     
}

.Conteinercolumn {
  display: flex;
  width: 100%; /* Ajusta el ancho de la página */
  background-color:var(--cremita); /* Cremita */  
  font-family: 'Open sans' , Helvetica , Georgia;
}

.column {
  flex: 1;
  padding-right: 20px;       
}

.left-column {
  text-align: center;
  margin: 0;
}

.right-column {
  text-align: justify;    
}

.Conteinercolumn img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  margin-top: 5px;       
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;        
}

.container img{
  max-width: 1200px;   
}


header {
  background-color: rgba(49, 54, 116); /* Azul */
  color: var(--naranja);
  /*padding: 5px 0;*/    
  z-index: 1000; /* Puedes ajustar este valor según sea necesario */           
}

nav {
  display: flex;
  justify-content: space-between;
  /*padding: 0.5rem 0;*/
  align-items: center;
  position: fixed;
  z-index: 1000; /* Puedes ajustar este valor según sea necesario */
  border-bottom: solid var(--orange);
  background-color: rgba(49, 54, 116, 0.5); /* Azul */
  left:1%;
  right: 1%;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;  /* alinea los elementos del menú en la misma línea */
}

nav ul li {
  margin-right: 20px;
  white-space: nowrap;  /* Evita el salto de línea en el texto */    
}

nav a {
  color: var(--orange);
  font-family: 'Open sans' , Helvetica , Georgia;
  text-decoration: none;
}

.logo img {
  max-width: 26%;
  max-height:26%;
  margin-left: 30px;
  margin-top: 8px;
  padding: 3px;    
}

.hero {
  position: relative;
  background: url('Imagenes/InicioWeb.jpg') center/cover no-repeat; 
  height: 400px; /* Ajusta la altura según tus necesidades */    
  text-align: center;
  overflow: hidden;   
}

.hero img {
  width: auto;
  height:auto;
  object-fit:cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  display: block;
}

.hero .container {
  position: absolute;
  right: 54%;
  top: 40%;
  background-color: rgba(49, 54, 116, 0.5); /* Azul con 50% de opacidad */
  height: 200px;
  transition: background-color 0.5s ease;
}

.hero h1 {
  font-size: 4.5em; /* Tamaño del título */
  margin-top: 5px; /* Espacio superior del título */
  margin-bottom: 5px; /* Espacio inferior del título */
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;
  color: var(--orange);
}

.hero p {
  font-size: 1.5em; /* Tamaño del párrafo */
  max-width: 600px; /* Ancho máximo del párrafo */
  margin: 0 auto; /* Centrar el párrafo */
  font-family:'Open sans' , Helvetica , Georgia;    
  color: var(--cremita);
}

.Pie{
  background-color:var(--azul);
  height: 50px;
  color: var(--orange);    
}

.Pie p{
  margin-top: 0;
  padding: 16px;
}

button {
  padding: 12px 20px;  
  cursor: pointer;    
  border-right: 4mm ridge rgba(232, 118, 31, 1);
  background-color: transparent;
  color:var(--azul); /* Color de texto para botones no seleccionados */
  font-weight:bolder;
  border-top: none;
  border-left: none;
  border-bottom: none;  
}

button.seleccionado {
  background-color: var(--azul);  /* Puedes personalizar el color de fondo */
  color: var(--orange);  /* Puedes personalizar el color del texto */
}

#areaTexto{
  margin-top: 20px;
  padding: 20px;    
  font-family: 'Open sans' , Helvetica , Georgia;
  color: var(--azul);
}

#btnSuscribete{
  margin-bottom: 15px;
  margin-left: 15%;
}

.containerInferior{
  background-color: var(--cremita);
}

.subtitulos{
  color: var(--azul);
  font-size: 30px;
  margin-top:20%;
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;   
}

.otrosSubtitulos{
  padding-top: 3%;    
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5%;
  color: var(--azul);
  font-size: 30px;    
  font-family:'Roboto', sans-serif , Helvetica , Georgia;
  font-weight:bold;   
}

#pOSubT{
  margin-top: 5px;
  margin-left: 8%;
  font-family: 'Open sans' , Helvetica , Georgia;
  color: var(--azul);
}

/*---Popup----*/
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#popup-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-overlay {
  position: relative;
  text-align: center; /* Centra el contenido */
}

.popup-overlay img {
  max-width: 100%;
  border-radius: 10px;
}

.popup-overlay a, .popup-overlay button {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.popup-overlay button {
  margin-left: 10px; /* Agrega espacio entre el enlace y el botón */
}

/*----Fin Popup----*/

/* Estilos responsivos */
@media (max-width: 768px) {
  header {
      text-align: center;
  }

  nav ul {
      text-align: center;
  }

  nav ul li {
      display: block;
      margin-bottom: 10px;
  }
}